<settings>
  	<servers>
		<server>
			<id>nexus</id>
	
			<configuration>
				<httpConfiguration>
					<all>
						<params>
							<param>
								<name>http.authentication.preemptive</name>
								<value>%b,true</value>
							</param>
						</params>
					</all>
				</httpConfiguration>
				<httpHeaders>
					<property>
						<name>username</name>
						<value><<username>></value>
					</property>
				</httpHeaders>
			</configuration>
		</server>
	</servers>
  
  <mirrors>
    <mirror>
      <!--This sends everything else to /public -->
      <id>nexus</id>
      <mirrorOf>*</mirrorOf>
      <url>http://infynp/repository/maven-public/</url>
    </mirror>
  </mirrors>
  <profiles>
    <profile>
      <id>nexus</id>
      <!--Enable snapshots for the built in central repo to direct -->
      <!--all requests to nexus via the mirror -->
      <repositories>
        <repository>
          <id>central</id>
          <url>http://central</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </repository>
      </repositories>
     <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <url>http://central</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </pluginRepository>
      </pluginRepositories>
      

    </profile>
  </profiles>
  <activeProfiles>
    <!--make the profile active all the time -->
    <activeProfile>nexus</activeProfile>
  </activeProfiles>
</settings>